<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>接力棒内部管理系统</title>
    <meta name="description" content="接力棒内部管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static "images/jlb.png" %}" type="image/png">
    <link rel="stylesheet" href="{% static "assets/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/pe-icon-7-filled.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/cs-skin-elastic.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="bg-dark">

{% block message %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-
                    {{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block base_content %}
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <h3 class="my-1 text-info">{% block user_title %}账号管理{% endblock %}</h3>
                    </a>
                </div>
                <div class="login-form">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}
<script src="{% static "assets/js/vendor/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "assets/js/popper.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/jquery.matchHeight.min.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>