{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>构建信息</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showTask' %}">任务栏</a></li>
                                <li><a href="/taskDetail?tid={{ taskHistory.taskBar.id }}">任务详情</a></li>
                                <li class="active">构建信息</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">构建信息</strong>
                        </div>
                        <div class="card-body">
                            <div class="layui-collapse" lay-accordion="">
                                {% for jenkins in operateHistory_obj %}
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">{{ jenkins.taskDetail.proJenkins.name }}</h2>
                                        <div class="layui-colla-content layui-show">
                                            <p><pre>{{ jenkins.console_opt }}</pre></p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
{% endblock %}