{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showPlan' %}">计划栏</a></li>
                                <li class="active">创建计划</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">创建计划</strong>
                        </div>
                        <div class="card-body">
                            <ul id="myTab" role="tablist">
                                <li id="step1Li" class="active blue">
                                    <a href="#" role="tab" data-toggle="tab">
                                        1.基本信息
                                    </a>
                                </li>
                                <li id="step2Li" class="gray">
                                    <img id="step2Img" src="{% static "images/blue_gray.png" %}"/>
                                    <a href="#" role="tab" data-toggle="tab">
                                        2.项目信息
                                    </a>
                                </li>
                            </ul>
                            <form class="form-horizontal group-border hover-stripped" role="form"
                                  method="post" action="/createPlan">
                                {% csrf_token %}
                                <div id="myTabContent" class="tab-content">
                                    <div id="step1" class="tab-pane active">
                                        <h5 class="page-header"></h5>
                                        <!-- End .form-group  -->
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">计划标题</label>
                                            <div class="col-lg-10">
                                                <input type="text" id="text-input" name="title" placeholder="请输入计划标题"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <!-- End .form-group  -->
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">发布类型</label>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <select data-placeholder="选择发布类型..." class="standardSelect"
                                                                name="kind">
                                                            <optgroup label="类型列表">
                                                                <option value="" label="default"></option>
                                                                {% for kind in kinds %}
                                                                    <option>{{ kind.name }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End .form-group  -->
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">说明</label>
                                            <div class="col-lg-10">
                                        <textarea class="form-control" name="desc" id="textarea"
                                                  placeholder="请输入发布的一些备注（包括：需要执行的SQL、修改更新内容等等）" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <!-- End .form-group  -->
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">所属产品</label>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <select data-placeholder="选择所属产品..." class="standardSelect"
                                                                name="production">
                                                            <optgroup label="产品列表">
                                                                {% for production_member in productions %}
                                                                    <option>{{ production_member.production.name }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End .form-group  -->
                                        <button type="button" class="layui-btn layui-btn-primary" style="float: right">
                                            <a href="#step2" onclick="eventFun.setStep(2)" role="tab" data-toggle="tab">下一步</a>
                                        </button>
                                    </div>
                                    <div id="step2" class="tab-pane fade">
                                        <!-- End .form-group  -->
                                        <div class="form-group" id="validate">
                                            <h5 class="page-header"></h5>
                                            <div class="form-group">
                                                <div class="layui-btn-group">
                                                    <!-- col-lg-6 start here -->
                                                    <button type="button" class="layui-btn layui-btn-primary"
                                                            id="add-btn"
                                                            onclick="add_div()">添加项目
                                                    </button>
                                                    <button type="button" class="layui-btn layui-btn-primary"
                                                            id="add-btn"
                                                            onclick="del_div()">删除项目
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                                    <span class="badge badge-pill badge-danger">提示</span>
                                                    输入此次发布计划涉及到的项目和开发分支，执行顺序从上到下！！！
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group" id="details">
                                                <div class="col-lg-10 col-md-10">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <select title="选择项目" class="form-control" name="project"
                                                                    onchange="change(this,this[selectedIndex].value)">
                                                                <optgroup label="project">
                                                                    <option value="" label="default"></option>
                                                                    {% for project in projects %}
                                                                        <option>{{ project.name }}</option>
                                                                    {% endfor %}
                                                                </optgroup>
                                                            </select>
                                                            <span class="help-block">项目名</span>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6">
                                                            <select title="选择分支" class="form-control" id="branch"
                                                                    name="devBranch">
                                                                <optgroup label="branch">
                                                                    <option id="default">请选择</option>
                                                                </optgroup>
                                                            </select>
                                                            <span class="help-block">开发分支</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" style="display: inline-block"
                                                   class="layui-btn layui-btn-primary" value="创建计划">
                                        </div>
                                        <button type="button" class="layui-btn layui-btn-primary"
                                                style="float: right">
                                            <a href="#step1" onclick="eventFun.setStep(1)" role="tab"
                                               data-toggle="tab">上一步</a>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
{% endblock %}