{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showPlan' %}">计划栏</a></li>
                                <li><a href="planDetail?pid={{ plan_obj.id }}">计划详情</a></li>
                                <li class="active">创建任务</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">创建任务</strong>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal group-border hover-stripped" role="form" id="taskValidate"
                                  method="post" action="/createTask?pid={{ plan_obj.id }}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">所属计划</label>
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <select title="选择计划" data-placeholder="选择所属计划..."
                                                        class="standardSelect"
                                                        name="plan">
                                                    <optgroup label="计划列表">
                                                        <option>{{ plan_obj.name }}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                        <span class="badge badge-pill badge-danger">提示</span>
                                        请选择项目部署前和部署后需要执行的步骤！
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">项目部署前</label>
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <select data-placeholder="Choose a country..." multiple
                                                        class="standardSelect" name="beforeDeploy">
                                                    {% for segment in beforeDeploySegments %}
                                                        <option value={{ segment.name }}>{{ segment.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">项目部署后</label>
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <select data-placeholder="Choose a country..." multiple
                                                        class="standardSelect" name="afterDeploy">
                                                    {% for segment in afterDeploySegments %}
                                                        <option value={{ segment.name }}>{{ segment.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <button type="submit" class="layui-btn layui-btn-primary">创建任务</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
{% endblock %}