{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>预发验收</title>
</head>
<body>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>标题</h4>
                        <p class="text-muted m-b-15"><br>{{ plan.name }}</p>
                        <hr>
                        <h4>验收情况</h4>
                        <p class="text-muted m-b-15">
                            <br>验收通过
                            <br>验收人：{{ plan.uatCheckMember }}
                            <br>验收日期：{{ plan.uatCheckDate }}
                            <br>备注：{{ plan.uatRemark }}
                        </p>
                        <h4>链接</h4>
                        <p class="text-muted m-b-15"><a href={{ url }}>{{ url }}</a></p>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
</body>
</html>