{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>预发验收</title>
</head>
<body>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>标题</h3>
                        <p class="text-muted m-b-15"><br>{{ plan.name }}</p>
                        <h5 class="page-header"></h5>
                        <h3>验收情况</h3>
                        <p>
                            <br>验收通过
                            <br>验收人：{{ plan.uatCheckMember }}
                            <br>验收日期：{{ plan.uatCheckDate }}
                            <br>备注：{{ plan.uatRemark }}
                        </p>
                        <h3>链接</h3>
                        <p><a href={{ url }}>{{ url }}</a></p>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
</body>
</html>