{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>上线申请邮件</title>
</head>
<body>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>标题</h4>
                        <p class="text-muted m-b-15"><br>{{ plan.name }}</p>
                        <hr>
                        <h4>发布流程</h4>
                        <p class="text-muted m-b-15">
                            {% for sequence in sequences %}
                                <br>{{ sequence.segment.name }}
                            {% endfor %}
                        </p>
                        <hr>
                        <h4>链接</h4>
                        <p class="text-muted m-b-15"><a href={{ url }}>{{ url }}</a></p>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
</body>
</html>