{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>预发申请邮件</title>
</head>
<body>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>基本信息</h4>
                        <p class="text-muted m-b-15">
                            <br>标题：{{ plan.name }}
                            <br>产品：{{ plan.production.name }}
                            <br>发布类型：{{ plan.kind.name }}
                        </p>
                        <hr>
                        <h4>发布说明</h4>
                        <p><pre><br>{{ plan.description }}</pre>
                        <hr>
                        <h4>关联项目</h4>
                        <p class="text-muted m-b-15">
                            {% for project_plan in project_plans %}
                                <br>{{ project_plan.project }}：{{ project_plan.devBranch }}
                            {% endfor %}
                        </p>
                        <hr>
                        <h4>链接</h4>
                        <p class="text-muted m-b-15"><a href={{ url }}>{{ url }}</a></p>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
</body>
</html>