{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                {% for production in productions %}
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="pe-7s-chat"></i>
                                    </div>
                                    <div class="stat-content"><a href="/productionKindChart?pid={{ production.id }}">
                                        <div class="text-left dib">
                                            <div class="stat-text">总计：<span
                                                    class="count">{{ production.planCounts }}</span></div>
                                            <div class="stat-heading">{{ production.name }}</div>
                                        </div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">任务统计-折线图 </h4>
                        </div>
                        <div id="planCountsPerMonth1" style="min-width:auto;height:400px"></div>
                        <div class="card-body"></div>
                    </div>
                </div><!-- /# column -->
            </div>
            <!-- /Widgets -->
            <!--  Traffic  -->
        </div>
        <!-- .animated -->
    </div>
{% endblock %}