{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showPlan' %}">计划栏</a></li>
                                <li class="active">计划详情</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">计划详情</strong>
                        </div>
                        <div class="card-body">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md9">
                                    <h4>计划说明</h4>
                                    <p class="text-muted m-b-15"><br>
                                    <pre>{{ plan_obj.description }}</pre>
                                    <hr>
                                    <h4>预发部署</h4>
                                    {% if plan_obj.uatCheck %}
                                        <p class="text-muted m-b-15">
                                            <br>验证通过
                                            <br>验证人：{{ plan_obj.uatCheckMember }}
                                            <br>备注：{{ plan_obj.uatRemark }}
                                            <br>日期：{{ plan_obj.uatCheckDate }}
                                        </p>
                                        <p class="text-muted m-b-15"><br><a href="/uatDetail?pid={{ plan_obj.id }}"
                                                                            class="layui-btn layui-btn-normal">点击此处进入预发部署页面</a>
                                        </p>
                                        <hr>
                                        <h4>生产部署</h4>
                                        {% if task_obj %}
                                            {% if proCheckStatus %}
                                                <p class="text-muted m-b-15">
                                                    <br>验收通过
                                                    <br>验证人：{{ sequence_check_obj.executor }}
                                                    <br>备注：{{ sequence_check_obj.remarks }}
                                                    <br>验证日期：{{ sequence_check_obj.executeDate }}
                                                </p>
                                                <p class="text-muted m-b-15"><br><a
                                                        href="/taskDetail?tid={{ task_obj.id }}"
                                                        class="layui-btn layui-btn-normal">点击此处进入生产部署页面</a></p>
                                            {% else %}
                                                <p class="text-muted m-b-15"><br><a
                                                        href="/taskDetail?tid={{ task_obj.id }}"
                                                        class="layui-btn layui-btn-normal">点击此处进入生产部署页面</a>
                                                </p>
                                            {% endif %}
                                        {% else %}
                                            {% if perms.mysite.can_deploy_project %}
                                                <br>
                                                <p class="text-muted m-b-15"><a href="/createTask?pid={{ plan_obj.id }}"
                                                                                class="layui-btn layui-btn-normal">点此创建任务</a>
                                                </p>
                                            {% else %}
                                                <p class="text-muted m-b-15"><br><a
                                                        href="/createTask?pid={{ plan_obj.id }}"
                                                        class="layui-btn layui-btn-normal">联系开发部署生产</a></p>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if perms.mysite.can_check_project %}
                                            <p class="text-muted m-b-15"><br><a href="/uatDetail?pid={{ plan_obj.id }}"
                                                                                class="layui-btn layui-btn-normal">点击此处进入预发部署页面</a>
                                            </p>
                                        {% else %}
                                            <p class="text-muted m-b-15"><br><a href="/uatDetail?pid={{ plan_obj.id }}"
                                                                                class="layui-btn layui-btn-normal">请让测试部署预发</a>
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="layui-col-md3">
                                    <h4>基本信息</h4>
                                    <p class="text-muted m-b-15"><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp标题&nbsp&nbsp&nbsp&nbsp{{ plan_obj.name }}</p>
                                    <p class="text-muted m-b-15">
                                        所属产品&nbsp&nbsp&nbsp&nbsp{{ plan_obj.production.name }}</p>
                                    <p class="text-muted m-b-15">发布类型&nbsp&nbsp&nbsp&nbsp{{ plan_obj.kind.name }}</p>
                                    {% if father_plans %}
                                        {% for father_plan in father_plans %}
                                            <p class="text-muted m-b-15">
                                                &nbsp&nbsp&nbsp&nbsp主任务&nbsp&nbsp&nbsp&nbsp<a
                                                    href="/planDetail?pid={{ father_plan.id }}">{{ father_plan.name }}</a>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                    <p class="text-muted m-b-15">
                                        &nbsp&nbsp&nbsp&nbsp创建人&nbsp&nbsp&nbsp&nbsp{{ plan_obj.createUser.name }}</p>
                                    <p class="text-muted m-b-15">创建日期&nbsp&nbsp&nbsp&nbsp{{ plan_obj.createDate }}</p>
                                    <h5 class="page-header"></h5>
                                    <h5>关联项目</h5>
                                    <p class="text-muted m-b-15 projects">
                                        {% for project_plan in project_plans %}
                                            <br>{{ project_plan.project }}：{{ project_plan.devBranch }}
                                        {% endfor %}
                                    </p>
                                    <h5 class="page-header"></h5>
                                    <h5>其他操作</h5>
                                    <p class="text-muted m-b-15"><br>
                                        <button type="button"
                                                class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal"
                                                data-toggle="modal" data-target="#largeModal1">添加项目
                                        </button>
                                        <button type="button"
                                                class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal"
                                                data-toggle="modal" data-target="#largeModal2">删除项目
                                        </button>
                                        <button class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal"
                                                id="restartUatDeploy">重新上预发
                                        </button>
                                    </p>
                                    <div class="modal fade" id="largeModal1" tabindex="-1" role="dialog"
                                         aria-labelledby="largeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="largeModalLabel">添加项目</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group" id="validate">
                                                        <div class="form-group" id="details">
                                                            <div class="col-lg-10 col-md-10">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <select title="选择项目" class="form-control"
                                                                                name="project" id="project"
                                                                                onchange="change(this,this[selectedIndex].value)">
                                                                            <optgroup label="project">
                                                                                <option value=""
                                                                                        label="default"></option>
                                                                                {% for project in projects %}
                                                                                    <option>{{ project.name }}</option>
                                                                                {% endfor %}
                                                                            </optgroup>
                                                                        </select>
                                                                        <span class="help-block">项目名</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <select title="选择分支" class="form-control"
                                                                                id="branch" name="devBranch">
                                                                            <optgroup label="branch">
                                                                                <option id="default">请选择</option>
                                                                            </optgroup>
                                                                        </select>
                                                                        <span class="help-block">开发分支</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        取消
                                                    </button>
                                                    <button type="button" class="layui-btn layui-btn-normal"
                                                            id="addProject"
                                                            data-dismiss="modal">添加
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="largeModal2" tabindex="-1" role="dialog"
                                         aria-labelledby="largeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="largeModalLabel">添加项目</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group" id="validate">
                                                        <div class="form-group" id="details">
                                                            <div class="col-lg-10 col-md-10">
                                                                <table class="table table-striped table-bordered myTable"
                                                                       id="bootstrap-data-table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>项目编号</th>
                                                                        <th>项目名</th>
                                                                        <th>开发分支</th>
                                                                        <th>操作</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for project_plan in project_plans %}
                                                                        <tr>
                                                                            <td id="project_plan_id">{{ project_plan.id }}</td>
                                                                            <td name="project_name">{{ project_plan.project.name }}</td>
                                                                            <td name="branch_name">{{ project_plan.devBranch }}</td>
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="btn btn-outline-secondary btn-sm deleteProject"
                                                                                        title="删除"><i
                                                                                        class="fa fa-times"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="layui-btn layui-btn-normal"
                                                            data-dismiss="modal" onclick="location.reload()">
                                                        完成
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
{% endblock %}