{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showPlan' %}">计划栏</a></li>
                                <li class="active">计划详情</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">计划详情</strong>
                        </div>
                        <div class="card-body">
                            <h3>标题</h3>
                            <p class="text-muted m-b-15"><br>{{ plan_obj.title }}</p>
                            <h5 class="page-header"></h5>
                            <h3>所属产品</h3>
                            <p class="text-muted m-b-15"><br>{{ plan_obj.production.name }}</p>
                            <h5 class="page-header"></h5>
                            <h3>发布类型</h3>
                            <p class="text-muted m-b-15"><br>{{ plan_obj.kind.name }}</p>
                            <h5 class="page-header"></h5>
                            <h3>说明</h3>
                            <p>
                            <pre><br>{{ plan_obj.description }}</pre>
                            </p>
                            <h5 class="page-header"></h5>
{#                            <h3>项目列表</h3>#}
{#                            {% for project_plan in project_plans %}#}
{#                                 <p><br><a href="/uatDeploy?tid={{ task.id }}">项目编号：{{ project_plan.project.id }} --#}
{#                                    项目名：{{ project_plan.project.name }}</a></p>#}
{#                            {% endfor %}#}
{#                            <h5 class="page-header"></h5>#}
                            <h3>关联任务</h3>
                            {% for task in tasks %}
                                <p><br><a href="/taskDetail?tid={{ task.id }}">编号：{{ task.id }} --
                                    标题：{{ task.name }}</a></p>
                            {% endfor %}
                            <h5 class="page-header"></h5>
                            <h3>预发部署</h3>
                                <p><br><a href="/uatDetail?pid={{ plan_obj.id }}" style="color: #ff3e03">点击此处进入预发部署页面</a></p>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
{% endblock %}