{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>构建信息</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showPlan' %}">计划栏</a></li>
                                <li><a href="/planDetail?pid={{ planId }}">计划详情</a></li>
                                <li><a href="/uatDetail?pid={{ planId }}">预发详情</a></li>
                                <li><a href="/uatDeploy?pid={{ planId }}&prjId={{ projectId }}">预发部署</a></li>
                                <li class="active">控制台信息</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">构建信息</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-bordered" id="bootstrap-data-table">
                                <thead>
                                <tr>
                                    <th width="200px">项目</th>
                                    <th width="50px">版本号</th>
                                    <th>部署状态</th>
                                    <th width="100px">发布标记号</th>
                                    <th width="200px">部署日期</th>
                                    <th>部署人员</th>
                                    <th>详细信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for consoleOpt in consoleOpts %}
                                    <tr>
                                        <td>{{ consoleOpt.project.name }}</td>
                                        <td>{{ consoleOpt.packageId }}</td>
                                        {% if consoleOpt.buildStatus %}
                                            <td>成功</td>
                                        {% else %}
                                            <td>失败</td>
                                        {% endif %}
                                        <td>{{ consoleOpt.uniteKey }}</td>
                                        <td>{{ consoleOpt.deployTime }}</td>
                                        <td>{{ consoleOpt.deployUser }}</td>
                                        <td><a href="/single_console_opt/{{ consoleOpt.uniqueKey }}"
                                               class='btn btn-link btn-sm' target="_blank">点击查看</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
{#                            <div class="layui-collapse" lay-accordion="">#}
{#                                {% for consoleOpt in consoleOpts %}#}
{#                                    <div class="layui-colla-item">#}
{#                                        <h2 class="layui-colla-title">{{ consoleOpt.project.name }}</h2>#}
{#                                        <div class="layui-colla-content layui-show">#}
{#                                            <p><pre>{{ consoleOpt.content }}</pre></p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
{% endblock %}