{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'showPlan' %}">计划栏</a></li>
                                <li><a href="/planDetail?pid={{ plan_obj.id }}">计划详情</a></li>
                                <li><a href="/uatDetail?pid={{ plan_obj.id }}">预发详情</a></li>
                                <li class="active">预发部署</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>预发部署</h4>
                        </div>
                        <div class="card-body">
                            <div class="default-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                           href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">创建分支</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                           href="#nav-profile" role="tab" aria-controls="nav-profile"
                                           aria-selected="false">部署环境</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                           href="#nav-contact" role="tab" aria-controls="nav-contact"
                                           aria-selected="false">控制台显示</a>
                                    </div>
                                </nav>
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <div class="alert alert-success" role="alert">
                                            <h4 class="alert-heading">说明</h4>
                                            <hr>
                                            <p>创建分支包括2种方式：</p>
                                            <hr>
                                            <p class="mb-0">1-自动创建预发分支，无须人工干预</p>
                                            <p class="mb-0">2-手动创建预发分支，用于自动创建冲突后人工创建</p>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-9">
                                                <div class="form-check">
                                                    <div class="radio">
                                                        <label for="radio1" class="form-check-label ">
                                                            <input type="radio" id="radio1" name="uatBranchChoose"
                                                                   value="option1"
                                                                   class="form-check-input uatBranchChoose">手动创建
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="radio2" name="uatBranchChoose"
                                                                   value="option2" checked="checked"
                                                                   class="form-check-input uatBranchChoose">自动创建
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="artificialBranch" class="row form-group fade">
                                            <div class="col-12 col-md-9"><input type="text" id="text-input"
                                                                                name="uatBranch"
                                                                                placeholder="branch name"
                                                                                class="form-control">
                                                <small class="form-text text-muted">输入手动创建的分支名</small>
                                            </div>
                                        </div>
                                        <input class="layui-btn layui-btn-primary createUatBranch" type="button"
                                               value="创建分支">
                                        <h5 class="page-header"></h5>
                                        <h3>分支</h3><br>
                                        {% if project_plan_obj.uatBranch %}
                                            <p id="uatBranch">{{ project_plan_obj.uatBranch }}</p>
                                        {% else %}
                                            <p id="uatBranch">无</p>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                         aria-labelledby="nav-profile-tab">
                                        <button class="layui-btn layui-btn-primary uatBuild" data-type="loading">
                                            立即执行
                                        </button>
                                        <h5 class="page-header"></h5>
                                        <div class="layui-collapse uatBuildResult" lay-accordion=""></div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                         aria-labelledby="nav-contact-tab">
                                        {% for consoleOpt in consoleOpts %}
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">{{ consoleOpt.deployTime }}</h3>
                                                    <p>
                                                        <br>执行人：{{ consoleOpt.deployUser.name }}
                                                        <br><a href="/console_opt/{{ consoleOpt.signId }}">查看控制台信息</a>
                                                    </p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
{% endblock %}